@import "tailwindcss";
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --font-mont: 'var(--font-mont)';
  /* --color-primary: oklch(0.21 0.0759 284.65) ; */
  --color-primary: #4f46e5; 
 --color-secondary: #eab308;
 /* --color-secondary: #ef4444; */
   --font-poppins: Poppins, sans-serif;
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;



}
@keyframes wave {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  40% { transform: rotate(14deg); }
  50% { transform: rotate(-4deg); }
  60% { transform: rotate(10deg); }
  70% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.wave-emoji {
  display: inline-block;
  transform-origin: 70% 70%; /* rotate from "wrist" */
  transition: transform 0.2s;
}

/* Animate only on hover of parent */
.wave-on-hover:hover .wave-emoji {
  animation: wave 2s infinite;
}


@keyframes rotateBackAndForth {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* On hover, apply the animation */
.group:hover .rotate-animate {
  animation: rotateBackAndForth 1.2s linear infinite;
}


